html {
  background-color: antiquewhite;
}
html table {
  margin: auto;
}
html input {
  width: 100%;
}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
}
.index tr th {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  padding: 5px;
}
.index tr td {
  border: 1px solid #000;
  padding: 5px;
}
.index .createForm {
  width: 24vw;
}
.index .createForm form table input .new_title {
  height: 80%;
}
.index .createForm form table input .new_comment {
  height: 80%;
}

.show tr th {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  padding: 5px;
}
.show tr td {
  border: 1px solid #000;
  padding: 5px;
}
.show .backIndex {
  display: block;
  margin: auto;
}
